.see-more{
        border: 1px solid #AAA9B1;
        padding: 4px 8px;
        border-radius: 100px;
        &__p{
                color: #AAA9B1;
                font-size: 10px;
           }
}
/* ---- GENRE TAGS ---- */
.genre-box{
        margin-bottom: 0.5rem;
        display: flex;
        gap: 0.5rem;
}

.genre-tag{
        background-color: #DBE3FF;
        padding: 4px 12px;
        border-radius: 100px;
        cursor: pointer;
        color: #88A4E8;
        font-size: 8px;
}