@use 'functions' as f; 
@use 'colors' as c; 

/* -- MERRIWEATHER & MULISH ---- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$mainFont: 'Mulish', sans-serif;
$headingFont: 'Merriweather', serif;

.basic__h1, 
.basic__h2{
    font-family: $headingFont;
    color: #110E47;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2%;
}

h1{
    //font-size: clamp(f.rem(28), f.rem(40) + 2vw, f.rem(60));
    //font-size: clamp(2rem, 6vw, 6rem);
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}

.basic__h2{
    //font-size: clamp(f.rem(35), f.rem(50) + 2vw, f.rem(60));
    //font-size: clamp(1.8rem, 4.5vw, 4.5rem);
    font-size: 16px;
    font-weight: 900;

}
.basic__h3{
    //font-size: clamp(f.rem(20), f.rem(35) + 2vw, f.rem(45));
    //font-size: clamp(1rem, 3vw, 3rem);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14px;
    font-family: $mainFont;
    letter-spacing: 2%;
}

h4, 
h5, 
h6, 
p, 
a{
    font-family: $mainFont;
    color: #000;
}

a,
a:visited,
a:active{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: clamp(f.rem(8), f.rem(12), f.rem(16));
    &:hover{
        color: #000;
    }
}

ul{
    list-style: none;
}

/* -- GRADIENT TEXT -- */

@mixin gradientTxt {
    max-width: 24ch;
    background: linear-gradient(c.$primaryGreen, c.$backgroundBeige);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
}
.about{
    height: 100vh;
    &__text{
        font-size: 2em;
        color: #000;
        text-align: center;
        line-height: 100vh;
    }
}